<!DOCTYPE html>
<html>
<head>
  <title>Mad Pibs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3">
      Mad Pibs
    </div>
    <div class="col-xs-6">
      Blurting Out Funny Stories Ever Since 2016
    </div>
    <div class="col-xs-3">
      <%= link_to 'Play', '#' %>
    </div>
  </header>

  <br class="clear" />

<%= yield %>

</body>
</html>
