<!DOCTYPE html>
<html>
<head>
  <title>Mad Pibs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3">
      <div class="circle">
        <br />
        Mad Pibs
        <br />
        Is
        <br />
        Awesome!
      </div>
    </div>
    <div class="col-xs-6 slogan">
      Blurting Out Funny Stories Ever Since 2016
    </div>
    <div class="col-xs-3 links">
      <%= link_to 'Play', '#' %>
    </div>
  </header>
  <hr />
  <br class="clear" />

  <div class="container">
    <%= yield %>
  </div>

  <div class="footer">
    <div class="container footer-blurb">
      <div class="col-xs-6">
      </div>
      <div class="col-xs-6">
        Proudly hacked in Southern California by Aleks Real.
      </div>
    </div>
  </div>

</body>
</html>
